<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello World</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        *{
            font-family: 'Ubuntu';
        }
        .col .btn-dark{
            margin:3px;
        }
    </style>
</head>
<body>


    <nav aria-label="breadcrumb">
        
        <ol class="breadcrumb" style="background-color:#333;border-radius:0px;">
            <img src="/public/hat2.png" alt="" srcset="" class="img-responsive" style="max-height:35px;padding-right:6px;">
            <li class="breadcrumb-item active" aria-current="page" style="color:greenyellow;">Expugno Systems</li>
            <li class="breadcrumb-item active" aria-current="page" style="color:greenyellow;" onclick="clearConsole()">Clear Console</li>
        </ol>   
    </nav>

    <div class="container-fluid" style="padding:5px;display:inline-flex">
            <input type="text" id="customcommand" class="form-control" placeholder="Custom command ..." aria-label="Search" aria-describedby="basic-addon1" style="border-radius:0px;">
            <button class="btn btn-dark" style="border-radius:0px;" onclick="customcommandtrigger()"><i class="fa fa-rocket"></i></button>
    </div>

    

    <div class="container-fluid" style="background-color:azure;">
    
        <div class="row" style="background-color:gainsboro;min-height: 600px;padding:20px;">
            <div class="col">
                    <button class="btn btn-dark" onclick="request(1)">Network Configurations</button>
                    <button class="btn btn-dark" onclick="request(2)" disabled>Mask MAC Address</button>
                    <button class="btn btn-dark" onclick="request(2)" disabled>Display Network Devices</button>
                    <button class="btn btn-dark" onclick="request(2)" disabled>Display Networks Available</button>
                    <button class="btn btn-dark" onclick="request(2)" disabled>Bypass Network Connection</button>
                    <button class="btn btn-dark" onclick="request(2)" disabled>Brute Force WPA2 Network</button>
            </div>
            
            <div class="col">

                <div class="alert alert-dark" role="alert">
                    Console Display
                </div>

                <div id="consoledisplay"></div>

            </div>
        </div>


    </div>

   
      
    <script>

                let consoledisplayID = $("#consoledisplay")
                let customCommandID = $("#customcommand")

                var socket = io();
                socket.on('console', function(msg){
                    consoledisplayID.html(msg.replace(/(?:\r\n|\r|\n)/g, '<br>') + consoledisplayID.html())
                });

                function request(moduleid){
                    let command =  commandByModuleId(moduleid)
                    socket.emit("command",command)
                }
            
                function customcommandtrigger(){
                    let command = customCommandID.val()
                    socket.emit("command",command)
                }

                function commandByModuleId(moduleid){
                    let command = ""
                    switch(moduleid){
                        case 1:
                            command = `ipconfig`
                            break;
                        case 2:
                            command = `arp -a`
                            break;
                    }
                    return command
                }

                function clearConsole(){
                    consoledisplayID.html("")
                }
                
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>